body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #058b82;
    color: white;
    padding: 1rem;
    text-align: center;
    
}

main {
    padding: 1rem;
}

section {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #058b82;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input, select, button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #058b82;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #058b82;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e7e7e7;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
}
